<!DOCTYPE html>
<html>
<head>
  <title>Pizzaria</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Pizzaria</h1>
    <nav>
      <a href="/">Início</a> |
      <a href="/pizzas">Gerenciar Pizzas</a>
    </nav>
    <hr>
  </header>